@import "tailwindcss";

@theme {
  --color-green-100: #B2F2BBFF;
  --color-green-200: #41DF58FF;
  --color-green-alpha-10: #B2F2BB1A;
  --color-neutral-100: #FFFFFFFF;
  --color-neutral-1000: #333333FF;
  --color-neutral-200: #E8E8E8FF;
  --color-neutral-300: #D2D2D2FF;
  --color-neutral-400: #BBBBBBFF;
  --color-neutral-500: #A4A4A4FF;
  --color-neutral-600: #8E8E8EFF;
  --color-neutral-700: #777777FF;
  --color-neutral-800: #606060FF;
  --color-neutral-900: #4A4A4AFF;
  --color-neutral-alpha-10: #3333331A;
  --color-primary-100: #FFCAA6FF;
  --color-primary-200: #FF944DFF;
  --color-primary-300: #FF6F10FF;
  --color-primary-400: #D15400FF;
  --color-primary-500: #943B00FF;
  --color-primary-alpha-10: #FF944D1A;
  --color-red-100: #FF9999FF;
  --color-red-200: #FF1A1AFF;
  --color-red-alpha-10: #FB37481A;
  --color-secondary-100: #B3CCFFFF;
  --color-secondary-200: #6699FFFF;
  --color-secondary-300: #246DFFFF;
  --color-secondary-400: #004BE0FF;
  --color-secondary-500: #00359EFF;
  --color-secondary-alpha-10: #6699FF1A;
  --color-yellow-100: #FFF1A8FF;
  --color-yellow-200: #FFDC24FF;
  --color-yellow-alpha-10: #FFDB431A;
  --font-inter: Inter, sans-serif;
  --font-oswald: Oswald, sans-serif;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --leading-b1: 1.6875rem;
  --leading-b2: 1.5rem;
  --leading-b3: 1.3125rem;
  --leading-b4: 1.125rem;
  --leading-b5: .9375rem;
  --leading-h1: 4.5rem;
  --leading-h2: 4rem;
  --leading-h3: 3.5rem;
  --leading-h4: 3rem;
  --leading-h5: 2.5rem;
  --leading-h6: 2.125rem;
  --leading-h7: 1.875rem;
  --radius-2xs: .375rem;
  --radius-full: 62rem;
  --radius-l: 1.875rem;
  --radius-m: 1.5rem;
  --radius-none: 0rem;
  --radius-s: 1.125rem;
  --radius-xs: .75rem;
  --size-full: var(--spacing-12);
  --size-medium: var(--spacing-10);
  --size-small: var(--spacing-7);
  --spacing-0: .125rem;
  --spacing-1: .25rem;
  --spacing-2: .5rem;
  --spacing-3: .75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2.5rem;
  --spacing-9: 3rem;
  --spacing-10: 4rem;
  --spacing-11: 5rem;
  --spacing-12: 6rem;
  --stroke-0: .0625rem;
  --stroke-1: 2px;
  --stroke-2: 4px;
  --stroke-3: 6px;
  --text-b1: 1.125rem;
  --text-b2: 1rem;
  --text-b3: .875rem;
  --text-b4: .75rem;
  --text-b5: .625rem;
  --text-h1: 4rem;
  --text-h2: 3.5rem;
  --text-h3: 3rem;
  --text-h4: 2.5rem;
  --text-h5: 2rem;
  --text-h6: 1.625rem;
  --text-h7: 1.375rem;
}